body {

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
header {

    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;

}

.logo {
    max-width: 60%;
    margin:3.5%

}

.hero {
    display: flex;

}

.hero-image {

    max-width: 100%;
    width: 100%;
    display: block;
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom,black 85%, transparent 100%);
}



.colaboracion {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
    color: black;

}

.colaboracion h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 1000;
    text-transform: uppercase;
}

.bono {
    font-size: 4rem;
    color: rgb(241	204	69);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.caja-1, .caja-3, .caja-4{
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(13, 13, 13);
  border-radius: 8px;
  margin-top: 15px;
}

.caja-nombre, .caja-telefono {
  display: flex;
  border-bottom: rgb(13, 13, 13) 0.5px solid;
  padding: 10px;
}


.caja-apellidos, .caja-email, .caja-marca{
  display: flex;
  padding: 10px;
}

.caja-2, .caja-5{
  margin-top: 15px;
  display:flex;
  outline: 1px solid rgb(13, 13, 13);
  border-radius: 8px;
  
}

.caja-fecha, .caja-consentimiento{
  display: flex;
  border-right: rgb(13, 13, 13) 1px solid;
  padding: 10px;
}
.caja {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: small;
  padding: 10px 8px;
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

button {
  margin-top: 15px;
  background-color: rgb(241, 204, 69);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

.banner-bono {
  width: 80%;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

}

.whatsapp-btn {
  background-color: #25D366;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  position:fixed;
  left: 0;
  bottom: 0;
  display: none;

}

@media (min-width: 768px) and (max-width: 991px) {

  .form-box {
    width: 100%;
    margin: 0 auto;
    
}

  .caja-1, .caja-3{
    display: inline-flex;
    width: 45%;
  }

  .caja-2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .caja-genero{
    margin: 0 auto;
    gap: 25%;

  }
  .caja-fecha {
    width: 47%;
  }

  .caja-4 {
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
  }

  .caja-5 {
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
    }
  
  .caja-consentimiento {
    
    width: 73%;

  }
  .caja{
    padding: 10px 10px;
  }

}

@media (min-width: 992px) {
  .logo {
    width: 20%;
  }

  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .hero-image {
    width: 90%;
    height: auto;
    display: block;
  }

  .form-box {
    width: 80%;
    margin: 0 auto;
    
}

  .caja-1, .caja-3, .caja-2, .caja-4{
    display: inline-flex;
    width: 40%;
    margin-right: 10px;
  }
  .caja-5 {
    width: 40%;
    margin: 0 auto;
    margin-top: 1%;
    }

  .caja{
   
    padding: 10px 10px;
  }
  .banner-bono {
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}